<ul class="headerList">
    <li class="headerListItem"><a href="/">Rainforest</a></li>
    <li class="headerListItem" id="customSelect">
        <input type="text" id="search" onkeyup="sort()" placeholder="Filter by Name">
        <!-- <select name="productType" id="filter" onchange="location.reload()">
            <option>Filter</option>
            <option value="food">Food</option>
            <option value="toys">Toys</option>
            <option value="electronics">Electronics</option>
            <option value="books">Book</option>
            <option value="outdoors">Outdoors</option>
        </select> -->
    </li>
    <li class="headerListItem"><a href="/user/signIn">Account</a></li>
    <!-- <li class="headerListItem"><a href="/product/new">Create Product</a></li> -->
    <li class="headerListItem"><a href="/cart">Cart</a></li>
    <!-- <li id="headerListItem"><a href="/contactUs">Contact Us</a></li> -->
</ul>