<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <div id = 'flex-container'>
        <h2>About Us</h2>
        <p>This is a small shop I made to bring the wonder of items that no one wants to you!</p>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>