<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/showProduct.css" />
</head>

<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <div class="flex-container">
        <div id="account">
            <h1>
                <%=account.username%>
            </h1>
    </div>
</body>

</html>