<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/cart.css" />
</head>

<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <div class="flex-container">
        <div id="product">
            <h1>This is your cart!</h1>
        </div>
        
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>