<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/signIn.css">
</head>

<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <div class="flex-container">
        <form action="/user/" method="post">
            <h1>Create Account</h1>
            <h4>Your name</h4>
            <input type="text" name="name" placeholder="First and last name" required />
            <h4>Email</h4>
            <input type="text" name="email" placeholder="youremail@email.com" required />
            <h4>Password</h4>
            <input type="text" name="password" placeholder="At least 6 characters" required />
            <h4>Re-enter password</h4>
            <input type="text" name="password2" placeholder="Re-enter password" required />
            <button class="button-85" type="submit">Create Account</button>
        </form>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>