* {
    box-sizing: border-box;
}


form * {
    color: rgb(0, 0, 0)
}

label {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: black;
}

nav a {
  color: white;
}

a:hover {
    color: grey;
}

body {
    background-color: rgba(247, 247, 244, 0.821);
    color: black;
    text-align: left;
    padding: 40px 0;
    background: linear-gradient(90deg, rgba(255, 251, 213, 0.4) 10%, rgba(178, 10, 44, 0.4) 90%);

}

img {
  border-radius: 10%;
  border: 8px solid rgba(255, 230, 194, 0.4);
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #131921;
    color: #FFFFFF;
}

.headerListItem {
    display: inline;
    margin: 0 calc(5vw + 10px);
}


footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232F3E;
  color: white;
  text-align: center;
}
