.allProducts {
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 0 5%;
    align-items: flex-start;
}

#product {
    display: flex;
    flex-basis: 0;
}

.similarProducts {
    flex-basis: 0;
}

img {
    margin-right: 5%;
}

form {
    display: inline-block;
}