.flex-container {
    margin: 10% 0;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    max-width: 200px;
    text-align: left;
}

h4 {
    margin-bottom: 0;
}

button {
    margin-top: 2%;
}

body {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 251, 213, 0.4) 10%, rgba(178, 10, 44, 0.4) 90%);

}